<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Backbone.js</title>
		<script src="js/jquery-1.6.2.js"></script>
		<script src="js/underscore.js"></script>
		<script src="js/backbone.js"></script>
		<script src="js/kitten.js"></script>
		<link rel="stylesheet" href="demo.css"/>
		
		<script type="text/template" id="kitten-view">
			<div class="cat">
				<h2 class="phrase"><%= phrase %></h2>
				<img src="cats/<%= imgUrl %>"/>
			</div>
		</script>
	
	</head>
	<body>
		<h1>Backbone Demo</h1>
		<div id="container"></div>	
	</body>
</html>
